@use '../../scss/' as *;
.footer{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer__content__info{
    display: flex;
    align-items: center;
}
.footer__content__contact{
    display: flex;
    justify-content: center;
    flex-direction : column;
    margin-right: 50px;
    color :#808080;
    font-size: 14px;
    line-height: 26px;
    margin-top: -30px;
    margin-bottom: 20px;
    @include mobile{
        display: none;
    }
}